/* variable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  pointer-events: none !important;
}

/* gsap css */
.gsap-fade-up {
  transform: translateY(44px);
  opacity: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#wrap {
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1440px;
  height: auto;
}

.font-en {
  font-family: "Archivo", system-ui;
}

.font-kr {
  font-family: "SUIT Variable", sans-serif;
}

.button-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
}

.button-effect::after {
  content: attr(data-hover);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  height: 100%;
}

.button-effect:hover {
  transform: translateY(-100%);
  transform-origin: 0% 0%;
}

/* sub page visual section background css */
.subpage-visual-content-wrap {
  height: 540px;
}
.subpage-visual-content-wrap .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subpage-visual-content-wrap .container .title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subpage-visual-content-wrap .container .title-box h2.title {
  font-family: "Archivo", system-ui;
  font-weight: 500;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -4px;
  color: #fff;
  margin-bottom: 18px;
}
.subpage-visual-content-wrap .container .title-box span.comment {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #fff;
}

.subpage-visual-content-wrap.company {
  background: url("../../company/img/company-visual-back.jpg") no-repeat center center/cover;
}

.page-nav-content-wrap {
  background: #F9F9F9;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.page-nav-content-wrap .container .btn-list-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page-nav-content-wrap .container .btn-list-area .home-icon-box {
  width: 60px;
  height: 60px;
  padding: 18px 18px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
.page-nav-content-wrap .container .btn-list-area .home-icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box {
  width: 220px;
  height: 60px;
  padding: 22px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #d6d6d6;
  position: relative;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box a span.name {
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #2a2a2a;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box a span.name.font-kr {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box a .hamburger-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box a .hamburger-icon-box span {
  width: 14px;
  height: 1px;
  display: block;
  background: #2a2a2a;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box a .hamburger-icon-box span:not(:last-child) {
  margin-bottom: 4px;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box .drop-down-box {
  border: 1px solid #d6d6d6;
  position: absolute;
  top: 60px;
  left: -1px;
  width: calc(100% + 2px);
  height: 0%;
  opacity: 0;
  transition: all 0.4s ease;
  background: #f9f9f9;
  overflow: hidden;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box .drop-down-box ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box .drop-down-box ul li a {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 22px 22px;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box .drop-down-box ul li a span {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #2a2a2a;
  opacity: 0.8;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box .drop-down-box ul li a span.font-kr {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box .drop-down-box ul li::before {
  content: "";
  display: block;
  width: 90%;
  height: 80%;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box .drop-down-box ul li:hover::before {
  opacity: 1;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box::before {
  content: "";
  display: block;
  width: 90%;
  height: 80%;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  position: absolute;
  transition: all 0.4s ease;
  opacity: 0;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box:hover::before {
  opacity: 1;
}
.page-nav-content-wrap .container .btn-list-area .category-btn-box.active .drop-down-box {
  opacity: 1;
  height: auto;
}