/* variable */
footer {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container {
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 1px solid #2a2a2a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .container .logo-area .logo-box {
  width: 230px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container .logo-area .logo-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .container .contact-area {
  display: flex;
  align-items: flex-start;
}
footer .container .contact-area .title-box {
  margin-right: 82px;
}
footer .container .contact-area .title-box span {
  font-family: "Archivo", system-ui;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #2a2a2a;
}
footer .container .contact-area .contact-list-box ul li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .container .contact-area .contact-list-box ul li span {
  font-size: 18px;
  line-height: 1.5;
  color: #2a2a2a;
  display: flex;
  word-break: keep-all;
}
footer .container .contact-area .contact-list-box ul li span.name {
  font-family: "Archivo", system-ui;
  font-weight: 300;
  min-width: 80px;
  margin-right: 42px;
}
footer .container .contact-area .contact-list-box ul li span.content {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  width: 300px;
}
footer .container .contact-area .contact-list-box ul li span.copy {
  font-family: "Archivo", system-ui;
  font-weight: 300;
}
footer .container .contact-area .contact-list-box ul li:not(:last-child) {
  margin-bottom: 12px;
}

@media (max-width: 450px) {
  footer {
    margin-top: 120px;
  }
  footer .container {
    padding-top: 60px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  footer .container .logo-area {
    margin-bottom: 32px;
  }
  footer .container .logo-area .logo-box {
    width: 140px;
  }
  footer .container .contact-area {
    flex-direction: column;
    align-items: center;
  }
  footer .container .contact-area .title-box {
    margin: 0;
    display: none;
  }
  footer .container .contact-area .contact-list-box ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .container .contact-area .contact-list-box ul li span {
    font-size: 14px;
    letter-spacing: 0;
  }
  footer .container .contact-area .contact-list-box ul li span.name {
    min-width: 60px;
    margin-right: 24px;
  }
  footer .container .contact-area .contact-list-box ul li span.content {
    width: 240px;
  }
  footer .container .contact-area .contact-list-box ul li:not(:last-child) {
    margin-bottom: 16px;
  }
}