/* variable */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  /* mobile-menu-area */
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* logo-category-wrap */
  /* menu-lang-box */
}
header .container .logo-category-wrap {
  display: flex;
  align-items: center;
  /* logo-box */
  /* category-box */
}
header .container .logo-category-wrap .logo-box {
  width: 130px;
  margin-right: 80px;
}
header .container .logo-category-wrap .logo-box a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .logo-category-wrap .logo-box a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container .logo-category-wrap .category-box > ul {
  display: flex;
  align-items: center;
}
header .container .logo-category-wrap .category-box > ul > li {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 24px 0;
}
header .container .logo-category-wrap .category-box > ul > li > a {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
header .container .logo-category-wrap .category-box > ul > li > a span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #fff;
}
header .container .logo-category-wrap .category-box > ul > li .drop-menu-box {
  position: absolute;
  padding: 24px 0;
  left: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
}
header .container .logo-category-wrap .category-box > ul > li .drop-menu-box ul {
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
header .container .logo-category-wrap .category-box > ul > li .drop-menu-box ul li {
  width: auto;
  min-width: 80px;
}
header .container .logo-category-wrap .category-box > ul > li .drop-menu-box ul li a {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .container .logo-category-wrap .category-box > ul > li .drop-menu-box ul li a span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #fff;
}
header .container .logo-category-wrap .category-box > ul > li .drop-menu-box ul li:not(:last-child) {
  margin-right: 24px;
}
header .container .logo-category-wrap .category-box > ul > li:hover .drop-menu-box {
  opacity: 1;
  visibility: visible;
}
header .container .logo-category-wrap .category-box > ul > li::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  background: #0050A0;
  transition: all 0.4s ease;
}
header .container .logo-category-wrap .category-box > ul > li:hover::after {
  width: 100%;
}
header .container .logo-category-wrap .category-box > ul > li:not(:last-child) {
  margin-right: 60px;
}
header .container .menu-lang-box {
  display: flex;
  align-items: center;
}
header .container .menu-lang-box .lang-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
header .container .menu-lang-box .lang-box a span {
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  margin-right: 12px;
  height: 40px;
}
header .container .menu-lang-box .lang-box a .icon-box {
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .menu-lang-box .lang-box a .icon-box svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container .menu-lang-box .lang-box a .icon-box svg path {
  fill: #fff;
  transition: fill 0.4s ease;
}
header .container .menu-lang-box .menu-box {
  display: none;
}
header .container .menu-lang-box .menu-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
}
header .container .menu-lang-box .menu-box a span {
  position: absolute;
  width: 16px;
  height: 2px;
  display: block;
  background: #fff;
  transition: background 0.4s ease;
}
header .container .menu-lang-box .menu-box a span:nth-child(1) {
  top: 16px;
}
header .container .menu-lang-box .menu-box a span:nth-child(2) {
  bottom: 16px;
}
header .mobile-menu-area {
  display: none;
}
header .header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background 0.4s ease;
}

@media (max-width: 1024px) {
  header .container {
    /* logo-category-wrap */
    /* menu-lang-box */
  }
  header .container .logo-category-wrap {
    /* logo-box */
    /* category-box */
  }
}
@media (max-width: 450px) {
  header {
    /* mobile-menu-area */
  }
  header .container {
    padding-top: 16px;
    padding-bottom: 16px;
    /* logo-category-wrap */
    /* menu-lang-box */
  }
  header .container .logo-category-wrap {
    /* logo-box */
    /* category-box */
  }
  header .container .logo-category-wrap .logo-box {
    width: 90px;
    margin-right: 0;
  }
  header .container .logo-category-wrap .category-box {
    display: none;
    pointer-events: none;
  }
  header .container .menu-lang-box .lang-box {
    margin-right: 18px;
  }
  header .container .menu-lang-box .lang-box a span {
    font-size: 14px;
    height: 30px;
  }
  header .container .menu-lang-box .menu-box {
    display: flex;
  }
  header .container .menu-lang-box .menu-box a {
    width: 30px;
    height: 30px;
  }
  header .container .menu-lang-box .menu-box a span {
    width: 14px;
  }
  header .container .menu-lang-box .menu-box a span:nth-child(1) {
    top: 17px;
  }
  header .container .menu-lang-box .menu-box a span:nth-child(2) {
    bottom: 17px;
  }
  header .mobile-menu-area {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }
  header .mobile-menu-area .container {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
  header .mobile-menu-area .container .menu-list-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header .mobile-menu-area .container .menu-list-box h4.menu-content-title {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #2a2a2a;
  }
  header .mobile-menu-area .container .menu-list-box h4.menu-content-title a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .mobile-menu-area .container .menu-list-box h4.menu-content-title a span {
    font-family: "Archivo", system-ui;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #2a2a2a;
    transition: rotate 0.4s ease;
  }
  header .mobile-menu-area .container .menu-list-box h4.menu-content-title a .icon-box {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  header .mobile-menu-area .container .menu-list-box h4.menu-content-title a .icon-box span {
    display: block;
    background: #2a2a2a;
    position: absolute;
  }
  header .mobile-menu-area .container .menu-list-box h4.menu-content-title a .icon-box span:nth-child(1) {
    width: 100%;
    height: 2px;
  }
  header .mobile-menu-area .container .menu-list-box h4.menu-content-title a .icon-box span:nth-child(2) {
    width: 2px;
    height: 100%;
  }
  header .mobile-menu-area .container .menu-list-box .menu-content-box {
    display: none;
  }
  header .mobile-menu-area .container .menu-list-box .menu-content-box .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
  }
  header .mobile-menu-area .container .menu-list-box .menu-content-box .list-container a span {
    font-size: 14px;
    line-height: 1;
    color: #2a2a2a;
  }
  header .mobile-menu-area .container .menu-list-box .menu-content-box .list-container a span.kr {
    font-family: "SUIT Variable", sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
  }
  header .mobile-menu-area .container .menu-list-box .menu-content-box .list-container a span.en {
    font-family: "Archivo", system-ui;
    font-weight: 500;
  }
  header .mobile-menu-area .container .menu-list-box .menu-content-box .list-container a:not(:last-child) {
    margin-bottom: 24px;
  }
  header .mobile-menu-area .container .menu-list-box.active h4.menu-content-title a .icon-box span:nth-child(2) {
    rotate: 90deg;
  }
}