/* variable */
/* business common css */
.section-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.section-title-box span.sub-title {
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #2a2a2a;
  margin-bottom: 16px;
}
.section-title-box h2.title {
  font-family: "Archivo", system-ui;
  font-weight: 700;
  font-size: 62px;
  line-height: 1;
  letter-spacing: -2px;
  color: #2a2a2a;
  margin-bottom: 42px;
  position: relative;
  display: flex;
  align-items: center;
}
.section-title-box h2.title::after {
  content: "";
  display: block;
  width: 45px;
  height: 6px;
  background: #0050A0;
  rotate: 45deg;
  position: absolute;
  left: -69px;
}
.section-title-box h2.title::before {
  content: "";
  display: block;
  width: 45px;
  height: 6px;
  background: #0050A0;
  rotate: 45deg;
  position: absolute;
  right: -69px;
}
.section-title-box p.para {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #2a2a2a;
  text-align: center;
}

#wrap .project-content-wrap {
  padding-top: 200px;
}
#wrap .project-content-wrap .container .section-title-box {
  /* common css */
}
#wrap .project-content-wrap .container .project-list-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap .project-content-wrap .container .project-list-area .list-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: 1px solid rgba(42, 42, 42, 0.8);
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .title-box {
  margin-bottom: 12px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .title-box h3.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  letter-spacing: -2px;
  color: #2a2a2a;
  position: relative;
  display: flex;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .title-box h3.title::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #0050A0;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.4s ease;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .en-title-box {
  margin-bottom: 24px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .en-title-box span {
  font-family: "Archivo", system-ui;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  color: #2a2a2a;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box {
  margin-bottom: 140px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li span {
  font-size: 16px;
  line-height: 1;
  color: #2a2a2a;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li span.kr {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  letter-spacing: -0.8px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li span.en {
  font-family: "Archivo", system-ui;
  font-weight: 400;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li span:not(:last-child) {
  margin-right: 14px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li:first-child {
  padding-left: 0;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #2a2a2a;
  opacity: 0.2;
  position: absolute;
  right: 0;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box .link-icon-box {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box .link-icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box ul.link-text-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box ul.link-text-box li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box ul.link-text-box li a {
  display: flex;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box ul.link-text-box li a span {
  font-family: "Archivo", system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: #2a2a2a;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box ul.link-text-box li:first-child {
  padding-left: 0;
}
#wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box ul.link-text-box li:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #2a2a2a;
  opacity: 0.2;
  position: absolute;
  right: 0;
}
#wrap .project-content-wrap .container .project-list-area .list-box .thumb-img-box {
  width: 586px;
  height: 328px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#wrap .project-content-wrap .container .project-list-area .list-box .thumb-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 1.2s ease;
}
#wrap .project-content-wrap .container .project-list-area .list-box:hover .project-text-area .title-box h3.title::after {
  width: 100%;
}
#wrap .project-content-wrap .container .project-list-area .list-box:hover .thumb-img-box img {
  scale: 1.06;
}
#wrap .project-content-wrap .container .project-list-area .list-box:first-child {
  border-top: 1px solid rgba(42, 42, 42, 0.8);
}

@media (max-width: 1024px) {
  /* business common css */
  .section-title-box span.sub-title {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .section-title-box h2.title {
    font-size: 42px;
  }
  .section-title-box h2.title::after {
    width: 32px;
    height: 4px;
    left: -46px;
  }
  .section-title-box h2.title::before {
    width: 32px;
    height: 4px;
    right: -46px;
  }
  .section-title-box p.para {
    font-size: 18px;
    letter-spacing: -0.8px;
  }
  #wrap .project-content-wrap .container .section-title-box {
    /* common css */
  }
  #wrap .project-content-wrap .container .project-list-area .list-box {
    padding: 30px 0;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .title-box h3.title {
    font-size: 34px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .en-title-box span {
    font-size: 16px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box {
    margin-bottom: 64px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li span {
    font-size: 14px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box .link-icon-box {
    width: 18px;
    height: 18px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-link-box ul.link-text-box li a span {
    font-size: 14px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .thumb-img-box {
    width: 390px;
    height: 220px;
  }
}
@media (max-width: 450px) {
  /* business common css */
  .section-title-box span.sub-title {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .section-title-box h2.title {
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .section-title-box h2.title::after {
    width: 24px;
    height: 3px;
    left: -38px;
  }
  .section-title-box h2.title::before {
    width: 24px;
    height: 3px;
    right: -38px;
  }
  .section-title-box p.para {
    font-size: 16px;
  }
  #wrap .project-content-wrap {
    padding-top: 120px;
  }
  #wrap .project-content-wrap .container .section-title-box {
    /* common css */
  }
  #wrap .project-content-wrap .container .project-list-area .list-box {
    flex-direction: column;
    padding: 0;
    border: none;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area {
    order: 2;
    width: 100%;
    padding: 0 14px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .title-box {
    margin-bottom: 6px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .title-box h3.title {
    font-size: 28px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .title-box h3.title::after {
    display: none;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .en-title-box {
    margin-bottom: 18px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .en-title-box span {
    font-weight: 400;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box {
    margin-bottom: 48px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul {
    flex-wrap: wrap;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .project-text-area .project-genre-box ul li span {
    line-height: 1.5;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box .thumb-img-box {
    width: 100%;
    margin-bottom: 24px;
  }
  #wrap .project-content-wrap .container .project-list-area .list-box:not(:last-child) {
    margin-bottom: 80px;
  }
}