/* variable */
/* section-title-box */
.section-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.section-title-box span.sub-title {
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #2a2a2a;
  margin-bottom: 16px;
}
.section-title-box h2.title {
  font-family: "Archivo", system-ui;
  font-weight: 700;
  font-size: 62px;
  line-height: 1;
  letter-spacing: -2px;
  color: #2a2a2a;
  margin-bottom: 42px;
  position: relative;
  display: flex;
  align-items: center;
}
.section-title-box h2.title::after {
  content: "";
  display: block;
  width: 45px;
  height: 6px;
  background: #0050A0;
  rotate: 45deg;
  position: absolute;
  left: -69px;
}
.section-title-box h2.title::before {
  content: "";
  display: block;
  width: 45px;
  height: 6px;
  background: #0050A0;
  rotate: 45deg;
  position: absolute;
  right: -69px;
}
.section-title-box p.para {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -1px;
  color: #2a2a2a;
  text-align: center;
}

#wrap .ir-data-content-wrap {
  padding-top: 200px;
}
#wrap .ir-data-content-wrap .container .data-list-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box {
  width: calc(33.3333333333% - 24px);
  margin: 30px 12px;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a {
  margin-bottom: 24px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .thumb-img-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .thumb-img-box svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.4s ease;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .thumb-img-box svg path {
  transition: fill 0.4s ease;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .thumb-img-box svg path:nth-child(1) {
  fill: #003D7B;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .thumb-img-box svg path:nth-child(2) {
  fill: #0050A0;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px 40px;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box span.title {
  font-family: "Archivo", system-ui;
  font-weight: 700;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -2px;
  color: #fff;
  position: relative;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box span.title::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.4s ease;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box .icon-box {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box .icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box a:hover .thumb-img-box svg {
  scale: 0.98;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box a:hover .thumb-img-box svg path:nth-child(1) {
  fill: #001830;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box a:hover .thumb-img-box svg path:nth-child(2) {
  fill: #002447;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box a:hover .text-box span.title::after {
  width: 100%;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box .list-title-box {
  width: 100%;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box .list-title-box a {
  width: 100%;
  display: flex;
  justify-content: center;
}
#wrap .ir-data-content-wrap .container .data-list-area .list-box .list-title-box a span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}

@media (max-width: 1024px) {
  /* section-title-box */
  .section-title-box h2.title {
    font-size: 42px;
  }
  .section-title-box h2.title::after {
    width: 32px;
    height: 4px;
    left: -46px;
  }
  .section-title-box h2.title::before {
    width: 32px;
    height: 4px;
    right: -46px;
  }
  .section-title-box p.para {
    font-size: 18px;
    letter-spacing: -0.8px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box {
    padding: 20px 30px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box span.title {
    font-size: 38px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box .icon-box {
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 450px) {
  /* section-title-box */
  .section-title-box h2.title {
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .section-title-box h2.title::after {
    width: 24px;
    height: 3px;
    left: -38px;
  }
  .section-title-box h2.title::before {
    width: 24px;
    height: 3px;
    right: -38px;
  }
  #wrap .ir-data-content-wrap {
    padding-top: 120px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box {
    width: calc(50% - 8px);
    margin: 16px 4px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box > a {
    margin-bottom: 18px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box {
    padding: 20px 20px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box span.title {
    font-size: 24px;
    letter-spacing: -1px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box > a .text-box .icon-box {
    width: 24px;
    height: 24px;
  }
  #wrap .ir-data-content-wrap .container .data-list-area .list-box .list-title-box a span {
    font-size: 14px;
  }
}