/* variable */
/* careers: gift common css */
.section-title-box {
  margin-bottom: 80px;
}
.section-title-box h2.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 300;
  font-size: 62px;
  line-height: 1.3;
  letter-spacing: -2px;
  color: #2a2a2a;
  text-align: center;
}
.section-title-box h2.title span.bold {
  font-weight: 700;
}

/*  */
.list-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.list-title-box h3.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  letter-spacing: -2px;
  color: #2a2a2a;
  position: relative;
  display: flex;
  align-items: center;
}
.list-title-box h3.title::after {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  background: #0050A0;
  rotate: 45deg;
  position: absolute;
  left: -48px;
}
.list-title-box h3.title::before {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  background: #0050A0;
  rotate: 45deg;
  position: absolute;
  right: -48px;
}

#wrap .recruitment-part-content-wrap {
  padding-top: 200px;
  padding-bottom: 200px;
}
#wrap .recruitment-part-content-wrap .container .section-title-box {
  /* common */
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-title-box {
  /* common */
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box {
  background: #f4f4f4;
  padding: 40px 20px;
  width: calc(33.3333333333% - 24px);
  height: 464px;
  border-radius: 18px;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-title-box span.sub-title {
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #0050A0;
  margin-bottom: 12px;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-title-box span.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  color: #2a2a2a;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .icon-box {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 18px;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li span {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 300px;
  background: #cdcdcd;
  position: absolute;
  left: 0;
}
#wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li:not(:last-child) {
  margin-bottom: 14px;
}
#wrap .recruitment-procedure-content-wrap {
  padding: 80px 0;
  background: #F4F4F4;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-title-box {
  /* common */
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box {
  background: #fff;
  width: calc(25% - 24px);
  height: 300px;
  margin: 0 12px;
  border-radius: 18px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box span.num {
  font-family: "Archivo", system-ui;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #0050A0;
  margin-bottom: 12px;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box span.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  color: #2a2a2a;
  margin-bottom: 32px;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box p {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  white-space: pre-line;
  word-break: keep-all;
  text-align: center;
  min-height: 82px;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box.color {
  background: #0050A0;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box.color .item-text-box span.num {
  color: #fff;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box.color .item-text-box span.title {
  color: #fff;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box.color .item-text-box p {
  color: #fff;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:not(:last-child)::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 0px 6px;
  rotate: 45deg;
  position: absolute;
  right: -15px;
  z-index: 2;
}
#wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:not(:first-child)::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: #F4F4F4;
  border-radius: 0px 6px;
  rotate: 45deg;
  position: absolute;
  left: -15px;
}
#wrap .contact-content-wrap {
  padding-top: 200px;
}
#wrap .contact-content-wrap .container {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .contact-content-wrap .container .logo-area {
  width: 50%;
  height: 100%;
  background: #f4f4f4;
}
#wrap .contact-content-wrap .container .logo-area .logo-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .contact-content-wrap .container .logo-area .logo-box img {
  width: auto;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .contact-content-wrap .container .text-area {
  width: 50%;
  height: 100%;
  border: 2px solid #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .contact-content-wrap .container .text-area .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap .contact-content-wrap .container .text-area .text-box p {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  margin-bottom: 32px;
  white-space: pre-line;
  word-break: keep-all;
  text-align: center;
}
#wrap .contact-content-wrap .container .text-area .text-box p span.bold {
  font-weight: 700;
}
#wrap .contact-content-wrap .container .text-area .text-box a.contact-btn {
  display: flex;
  justify-content: center;
  position: relative;
}
#wrap .contact-content-wrap .container .text-area .text-box a.contact-btn span {
  font-family: "Archivo", system-ui;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  color: #0050A0;
  opacity: 0.8;
  transition: opacity 0.4s ease;
}
#wrap .contact-content-wrap .container .text-area .text-box a.contact-btn.email {
  margin-bottom: 16px;
}
#wrap .contact-content-wrap .container .text-area .text-box a.contact-btn::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background: #0050A0;
  transition: width 0.4s ease;
}
#wrap .contact-content-wrap .container .text-area .text-box a.contact-btn:hover::after {
  width: 100%;
}
#wrap .contact-content-wrap .container .text-area .text-box a.contact-btn:hover span {
  opacity: 1;
}

@media (max-width: 1024px) {
  /* careers: gift common css */
  .section-title-box h2.title {
    font-size: 42px;
  }
  /*  */
  .list-title-box h3.title {
    font-size: 32px;
  }
  #wrap .recruitment-part-content-wrap .container .section-title-box {
    /* common */
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-title-box {
    /* common */
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box {
    height: 320px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-title-box span.title {
    font-size: 26px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .icon-box {
    width: 60px;
    height: 60px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li span {
    font-size: 16px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li:not(:last-child) {
    margin-bottom: 8px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-title-box {
    /* common */
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box {
    padding: 0 30px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box span.title {
    font-size: 26px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box p {
    font-size: 16px;
  }
  #wrap .contact-content-wrap .container .text-area .text-box p {
    font-size: 16px;
  }
  #wrap .contact-content-wrap .container .text-area .text-box a.contact-btn span {
    font-size: 32px;
  }
}
@media (max-width: 450px) {
  /* careers: gift common css */
  .section-title-box {
    margin-bottom: 60px;
  }
  .section-title-box h2.title {
    font-size: 24px;
    letter-spacing: -1.2px;
  }
  /*  */
  .list-title-box h3.title {
    font-size: 20px;
  }
  .list-title-box h3.title::after {
    width: 16px;
    height: 2px;
    left: -30px;
  }
  .list-title-box h3.title::before {
    width: 16px;
    height: 2px;
    right: -30px;
  }
  #wrap .recruitment-part-content-wrap {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  #wrap .recruitment-part-content-wrap .container .section-title-box {
    /* common */
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-title-box {
    /* common */
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area {
    flex-direction: column;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box {
    width: 100%;
    height: 260px;
    margin: 0;
    border-radius: 12px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-title-box span.title {
    font-size: 18px;
    letter-spacing: -0.8px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .icon-box {
    width: 48px;
    height: 48px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li {
    padding-left: 14px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li span {
    font-size: 14px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box .item-content-box ul li::before {
    width: 3px;
    height: 3px;
  }
  #wrap .recruitment-part-content-wrap .container .recruitment-part-list-area .list-item-area .list-item-box:not(:last-child) {
    margin-bottom: 16px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-title-box {
    /* common */
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area {
    flex-wrap: wrap;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box {
    width: calc(50% - 14px);
    height: 240px;
    margin: 8px 7px;
    padding: 0 24px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box span.title {
    font-size: 18px;
    letter-spacing: -0.8px;
    font-weight: 500;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box .item-text-box p {
    font-size: 14px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box.color .item-text-box p {
    min-height: 105px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:not(:last-child)::after {
    width: 24px;
    height: 24px;
    border-radius: 0;
    right: -12px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:not(:first-child)::before {
    width: 24px;
    height: 24px;
    left: -12px;
    border-radius: 0;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:nth-child(3) {
    order: 2;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:nth-child(2)::after {
    right: auto;
    bottom: -12px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:nth-child(3)::after {
    right: auto;
    top: -12px;
    background: #f4f4f4;
    z-index: 1;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:nth-child(3)::before {
    background: #fff;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:nth-child(4)::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: #F4F4F4;
    rotate: 45deg;
    position: absolute;
    right: -12px;
  }
  #wrap .recruitment-procedure-content-wrap .container .recruitment-procedure-list-area .list-item-area .list-item-box:nth-child(4)::before {
    display: none;
  }
  #wrap .contact-content-wrap {
    padding-top: 120px;
  }
  #wrap .contact-content-wrap .container {
    flex-direction: column;
    height: auto;
  }
  #wrap .contact-content-wrap .container .logo-area {
    width: 100%;
    margin-bottom: 42px;
    background: transparent;
  }
  #wrap .contact-content-wrap .container .logo-area .logo-box img {
    height: 54px;
  }
  #wrap .contact-content-wrap .container .text-area {
    width: 100%;
    border: none;
  }
  #wrap .contact-content-wrap .container .text-area .text-box p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  #wrap .contact-content-wrap .container .text-area .text-box a.contact-btn span {
    font-size: 24px;
  }
  #wrap .contact-content-wrap .container .text-area .text-box a.contact-btn.email {
    margin-bottom: 8px;
  }
}