/* variable */
$color-black: #2a2a2a;
$color-main: #0050A0;
$color-gray: #ababab;
$font-kr: 'SUIT Variable', sans-serif;
$font-en: "Archivo", system-ui;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* gsap css */
.gsap-fade-up {
    transform: translateY(44px);
    opacity: 0;
}

ul,ol,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1440px;
    height: auto;
}

.font-en {
    font-family: $font-en;
}

.font-kr {
    font-family: $font-kr;
}

.button-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .4s ease;
}
.button-effect::after {
    content: attr(data-hover);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    height: 100%;
}
.button-effect:hover {
    transform: translateY(-100%);
    transform-origin: 0% 0%;
}


/* sub page visual section background css */
.subpage-visual-content-wrap {
    height: 540px;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .title-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2.title {
                font-family: $font-en;
                font-weight: 500;
                font-size: 100px;
                line-height: 1;
                letter-spacing: -4px;
                color: #fff;
                margin-bottom: 18px;
            }
            span.comment {
                font-family: $font-kr;
                font-weight: 500;
                font-size: 24px;
                line-height: 1;
                letter-spacing: -.8px;
                color: #fff;
            }
        }
    }
}
.subpage-visual-content-wrap.company {
    background: url('../../company/img/company-visual-back.jpg') no-repeat center center / cover;
}
.page-nav-content-wrap {
    background: #F9F9F9;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    .container {
        .btn-list-area {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .home-icon-box {
                width: 60px;
                height: 60px;
                padding: 18px 18px;
                border-left: 1px solid #d6d6d6;
                border-right: 1px solid #d6d6d6;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .category-btn-box {
                width: 220px;
                height: 60px;
                padding: 22px 22px;
                display: flex;
                border-right: 1px solid #d6d6d6;
                position: relative;
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span.name {
                        font-family: $font-en;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1;
                        color: $color-black;
                    }
                    span.name.font-kr {
                        font-family: $font-kr;
                        font-weight: 500;
                    }
                    .hamburger-icon-box {
                        // width: 60px;
                        // height: 60px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        span {
                            width: 14px;
                            height: 1px;
                            display: block;
                            background: $color-black;
                        }
                        span:not(:last-child) {
                            margin-bottom: 4px;
                        }
                    }
                }
                .drop-down-box {
                    border: 1px solid #d6d6d6;
                    position: absolute;
                    top: 60px;
                    left: -1px;
                    width: calc(100% + 2px);
                    height: 0%;
                    opacity: 0;
                    transition: all .4s ease;
                    background: #f9f9f9;
                    overflow: hidden;
                    ul {
                        li {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            a {
                                display: flex;
                                width: 100%;
                                height: 60px;
                                padding: 22px 22px;
                                span {
                                    display: flex;
                                    width: 100%;
                                    height: 100%;
                                    font-family: $font-en;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 1;
                                    color: $color-black;
                                    opacity: .8;
                                }
                                span.font-kr {
                                    font-family: $font-kr;
                                    font-weight: 500;
                                }
                            }
                        }
                        li::before {
                            content: '';
                            display: block;
                            width: 90%;
                            height: 80%;
                            background: rgba(255, 255, 255, 1);
                            border-radius: 8px;
                            position: absolute;
                            opacity: 0;
                            transition: all .4s ease;
                        }
                        li:hover::before {
                            opacity: 1;
                        }
                        li:not(:last-child) {
                        }
                    }
                }
            }
            .category-btn-box.active {
                .drop-down-box {
                    opacity: 1;
                    height: auto;
                }
            }
        }
    }
}