/* variable */
$color-black: #2a2a2a;
$color-main: #0050A0;
$color-gray: #ababab;
$font-kr: 'SUIT Variable', sans-serif;
$font-en: "Archivo", system-ui;

footer {
    margin-top: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        padding-top: 80px;
        padding-bottom: 80px;
        border-top: 1px solid $color-black;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .logo-area {
            .logo-box {
                width: 230px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .contact-area {
            display: flex;
            align-items: flex-start;
            .title-box {
                margin-right: 82px;
                span {
                    font-family: $font-en;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1;
                    color: $color-black;
                }
            }
            .contact-list-box {
                ul {
                    li {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        span {
                            font-size: 18px;
                            line-height: 1.5;
                            color: $color-black;
                            display: flex;
                            word-break: keep-all;
                        }
                        span.name {
                            font-family: $font-en;
                            font-weight: 300;
                            min-width: 80px;
                            margin-right: 42px;
                        }
                        span.content {
                            font-family: $font-kr;
                            font-weight: 400;
                            width: 300px;
                        }
                        span.copy {
                            font-family: $font-en;
                            font-weight: 300;
                        }
                    }
                    li:not(:last-child) {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}