/* variable */
$color-black: #2a2a2a;
$color-main: #0050A0;
$color-gray: #ababab;
$font-kr: 'SUIT Variable', sans-serif;
$font-en: "Archivo", system-ui;

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;

    .container {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        /* logo-category-wrap */
        .logo-category-wrap {
            display: flex;
            align-items: center;
            /* logo-box */
            .logo-box {
                width: 130px;
                margin-right: 80px;
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
    
            /* category-box */
            .category-box {
                > ul {
                    display: flex;
                    align-items: center;
                    > li {
                        display: flex;
                        justify-content: center;
                        position: relative;
                        padding: 24px 0;
                        > a {
                            display: flex;
                            justify-content: center;
                            overflow: hidden;
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 40px;
                                font-family: $font-en;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 1;
                                color: #fff;
                            }
                        }

                        .drop-menu-box {
                            position: absolute;
                            // min-width: 120px;
                            padding: 24px 0;
                            left: 0;
                            top: 100%;
                            opacity: 0;
                            visibility: hidden;
                            ul {
                                // width: 100%;
                                width: auto;
                                display: flex;
                                // flex-direction: column;
                                align-items: flex-start;
                                justify-content: center;
                                li {
                                    // width: 100%;
                                    width: auto;
                                    min-width: 80px;
                                    a {
                                        width: 100%;
                                        overflow: hidden;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        span {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            height: 40px;
                                            font-family: $font-kr;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 1;
                                            letter-spacing: -.8px;
                                            color: #fff;
                                        }
                                    }
                                }
                                li:not(:last-child) {
                                    // margin-bottom: 24px;
                                    margin-right: 24px;
                                }
                            }
                        }
                    }
                    > li:hover {
                        .drop-menu-box {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    > li::after {
                        content: '';
                        display: block;
                        width: 0%;
                        height: 1px;
                        position: absolute;
                        bottom: 0px;
                        background: $color-main;
                        transition: all .4s ease;
                    }
                    > li:hover::after {
                        width: 100%;
                    }
                    > li:not(:last-child) {
                        margin-right: 60px;
                    }
                }
            }
        }

        /* menu-lang-box */
        .menu-lang-box {
            display: flex;
            align-items: center;
            .lang-box {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    span {
                        font-family: $font-en;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1;
                        color: #fff;
                        margin-right: 12px;
                        height: 40px;
                    }
                    .icon-box {
                        width: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            path {
                                fill: #fff;
                                transition: fill .4s ease;
                            }
                        }
                    }
                }
            }

            .menu-box {
                display: none;
                a {
                    // border: 1px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    span {
                        position: absolute;
                        width: 16px;
                        height: 2px;
                        display: block;
                        background: #fff;
                        transition: background .4s ease;
                    }
                    span:nth-child(1) {
                        top: 16px;
                    }
                    span:nth-child(2) {
                        bottom: 16px;
                    }
                }
            }
        }
    }

    /* mobile-menu-area */
    .mobile-menu-area {
        display: none;
    }

    .header-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: background .4s ease;
    }
}

@media ( max-width: 1024px ) {
    header {    
        .container {    
            /* logo-category-wrap */
            .logo-category-wrap {
                /* logo-box */
                .logo-box {
                    a {
                        img {
                        }
                    }
                }
        
                /* category-box */
                .category-box {
                    > ul {
                        > li {
                            > a {
                                span {
                                }
                            }
    
                            .drop-menu-box {
                                ul {
                                    li {
                                        a {
                                            span {
                                            }
                                        }
                                    }
                                    li:not(:last-child) {
                                    }
                                }
                            }
                        }
                        > li:hover {
                            .drop-menu-box {
                            }
                        }
                        > li::after {
                        }
                        > li:hover::after {
                        }
                        > li:not(:last-child) {
                        }
                    }
                }
            }
    
            /* menu-lang-box */
            .menu-lang-box {
                .lang-box {
                    a {
                        span {
                        }
                        .icon-box {
                            svg {
                                path {
                                }
                            }
                        }
                    }
                }
    
                .menu-box {
                    a {
                        span {
                        }
                        span:nth-child(1) {
                        }
                        span:nth-child(2) {
                        }
                    }
                }
            }
        }
        .header-bg {
        }
    }
}
@media ( max-width: 450px ) {
    header {
        .container {
            padding-top: 16px;
            padding-bottom: 16px;
            /* logo-category-wrap */
            .logo-category-wrap {
                /* logo-box */
                .logo-box {
                    width: 90px;
                    margin-right: 0;
                    a {
                        img {
                        }
                    }
                }
        
                /* category-box */
                .category-box {
                    display: none;
                    pointer-events: none;
                    > ul {
                        > li {
                            > a {
                                span {
                                }
                            }
    
                            .drop-menu-box {
                                ul {
                                    li {
                                        a {
                                            span {
                                            }
                                        }
                                    }
                                    li:not(:last-child) {
                                    }
                                }
                            }
                        }
                        > li:hover {
                            .drop-menu-box {
                            }
                        }
                        > li::after {
                        }
                        > li:hover::after {
                        }
                        > li:not(:last-child) {
                        }
                    }
                }
            }
    
            /* menu-lang-box */
            .menu-lang-box {
                .lang-box {
                    margin-right: 18px;
                    a {
                        span {
                            font-size: 14px;
                            height: 30px;
                        }
                        .icon-box {
                            svg {
                                path {
                                }
                            }
                        }
                    }
                }
    
                .menu-box {
                    display: flex;
                    a {
                        width: 30px;
                        height: 30px;
                        span {
                            width: 14px;
                        }
                        span:nth-child(1) {
                            top: 17px;
                        }
                        span:nth-child(2) {
                            bottom: 17px;
                        }
                    }
                }
            }

        }

        /* mobile-menu-area */
        .mobile-menu-area {
            // border: 1px solid red;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            background: #fff;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            .container {
                flex-direction: column;
                padding-top: 0;
                padding-bottom: 0;
                .menu-list-box {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    h4.menu-content-title {
                        width: 100%;
                        padding: 20px 0;
                        border-bottom: 1px solid $color-black;
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            span {
                                font-family: $font-en;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 1;
                                color: $color-black;
                                transition: rotate .4s ease;
                            }
                            .icon-box {
                                width: 16px;
                                height: 16px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                span {
                                    display: block;
                                    background: $color-black;
                                    position: absolute;
                                }
                                span:nth-child(1) {
                                    width: 100%;
                                    height: 2px;
                                }
                                span:nth-child(2) {
                                    width: 2px;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .menu-content-box {
                        display: none;
                        .list-container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            padding: 32px 0;
                            a {
                                span {
                                    font-size: 14px;
                                    line-height: 1;
                                    color: $color-black;
                                }
                                span.kr {
                                    font-family: $font-kr;
                                    font-weight: 600;
                                    letter-spacing: -.8px;
                                }
                                span.en {
                                    font-family: $font-en;
                                    font-weight: 500;
                                }
                            }
                            a:not(:last-child) {
                                margin-bottom: 24px;
                            }
                        }
                    }
                }

                .menu-list-box.active {
                    h4.menu-content-title {
                        a {
                            .icon-box {
                                span:nth-child(2) {
                                    rotate: 90deg;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-bg {
        }
    }
}