/* variable */
$color-black: #2a2a2a;
$color-main: #0050A0;
$color-gray: #ababab;
$font-kr: 'SUIT Variable', sans-serif;
$font-en: "Archivo", system-ui;

#wrap {
    .subpage-visual-content-wrap.company {
        .container {
            .title-box {
                h2.title {
                }
                span.comment {
                }
            }
        }
    }
    .page-nav-content-wrap {
        .container {
            .btn-list-area {
                .home-icon-box {
                    img {
                    }
                }
                a.category-btn-box {
                    span.name {
                    }
                    span.name.font-kr {
                    }
                    .hamburger-icon-box {
                        span {
                        }
                        span:not(:last-child) {
                        }
                    }
                }
            }
        }
    }

    .ceo-about-content-wrap {
        padding-top: 200px;
        .container {
            // border: 1px solid red;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            .ceo-img-box {
                width: 464px;
                height: 620px;
                // border: 1px solid #c8c8c8;
                margin-right: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .about-text-box {
                width: 42%;
                .title-box {
                    margin-bottom: 80px;
                    h2.title {
                        font-family: $font-kr;
                        font-weight: 700;
                        font-size: 52px;
                        line-height: 1.3;
                        letter-spacing: -2px;
                        color: $color-black;
                        span.color {
                            color: $color-main;
                        }
                    }
                }

                .para-box {
                    margin-bottom: 80px;
                    p {
                        font-family: $font-kr;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 1.5;
                        letter-spacing: -.8px;
                        color: $color-black;
                        word-break: keep-all;
                    }
                    p:not(:last-child) {
                        margin-bottom: 32px;
                    }
                }

                .ceo-name-box {
                    span {
                        font-family: $font-kr;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 1;
                        letter-spacing: -.8px;
                        color: $color-black;
                    }
                    span.rank {
                        margin-right: 42px;
                    }
                    span.name {

                    }
                }
            }
        }
    }
}

@media ( max-width: 1024px ) {
    #wrap {
        .subpage-visual-content-wrap.company {
            .container {
                .title-box {
                    h2.title {
                    }
                    span.comment {
                    }
                }
            }
        }
        .page-nav-content-wrap {
            .container {
                .btn-list-area {
                    .home-icon-box {
                        img {
                        }
                    }
                    a.category-btn-box {
                        span.name {
                        }
                        span.name.font-kr {
                        }
                        .hamburger-icon-box {
                            span {
                            }
                            span:not(:last-child) {
                            }
                        }
                    }
                }
            }
        }
    
        .ceo-about-content-wrap {
            .container {
                justify-content: space-between;
                .ceo-img-box {
                    width: calc(50% - 12px);
                    margin: 0;
                    img {
                    }
                }
    
                .about-text-box {
                    width: calc(50% - 12px);
                    .title-box {
                        margin-bottom: 42px;
                        h2.title {
                            font-size: 32px;
                            span.color {
                            }
                        }
                    }
    
                    .para-box {
                        margin-bottom: 48px;
                        p {
                            font-size: 16px;
                        }
                        p:not(:last-child) {
                            margin-bottom: 24px;
                        }
                    }
    
                    .ceo-name-box {
                        span {
                            font-size: 14px;
                            font-weight: 600;
                        }
                        span.rank {
                        }
                        span.name {
    
                        }
                    }
                }
            }
        }
    }
}
@media ( max-width: 450px ) {
    #wrap {
        .subpage-visual-content-wrap.company {
            .container {
                .title-box {
                    h2.title {
                    }
                    span.comment {
                    }
                }
            }
        }
        .page-nav-content-wrap {
            .container {
                .btn-list-area {
                    .home-icon-box {
                        img {
                        }
                    }
                    a.category-btn-box {
                        span.name {
                        }
                        span.name.font-kr {
                        }
                        .hamburger-icon-box {
                            span {
                            }
                            span:not(:last-child) {
                            }
                        }
                    }
                }
            }
        }
    
        .ceo-about-content-wrap {
            padding-top: 120px;
            .container {
                align-items: flex-start;
                .ceo-img-box {
                    height: auto;
                    img {
                    }
                }
    
                .about-text-box {
                    .title-box {
                        margin-bottom: 24px;
                        h2.title {
                            font-size: 18px;
                            letter-spacing: -.8px;
                            word-break: keep-all;
                            span.color {
                            }
                        }
                    }
    
                    .para-box {
                        p {
                            font-size: 14px;
                        }
                        p:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
    
                    .ceo-name-box {
                        span {
                        }
                        span.rank {
                        }
                        span.name {
    
                        }
                    }
                }
            }
        }
    }
}