/* variable */
$color-black: #2a2a2a;
$color-main: #0050A0;
$color-gray: #ababab;
$font-kr: 'SUIT Variable', sans-serif;
$font-en: "Archivo", system-ui;

#wrap {
    .subpage-visual-content-wrap.company {
        .container {
            .title-box {
                h2.title {
                }
                span.comment {
                }
            }
        }
    }
    .page-nav-content-wrap {
        .container {
            .btn-list-area {
                .home-icon-box {
                    img {
                    }
                }
                a.category-btn-box {
                    span.name {
                    }
                    span.name.font-kr {
                    }
                    .hamburger-icon-box {
                        span {
                        }
                        span:not(:last-child) {
                        }
                    }
                }
            }
        }
    }

    .history-content-wrap {
        padding-top: 200px;
        .container {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            .section-title-box {
                display: flex;
                justify-content: center;
                padding-bottom: 48px;
                margin-bottom: 100px;
                position: relative;
                h2.title {
                    font-family: $font-en;
                    font-weight: 600;
                    font-size: 62px;
                    line-height: 1;
                    letter-spacing: -2px;
                    color: $color-main;
                }
            }
            .section-title-box::after {
                content: '';
                display: block;
                width: 42px;
                height: 4px;
                background: #c8c8c8;
                position: absolute;
                bottom: 0;
            }

            .history-text-area {
                width: 100%;
                display: flex;
                position: relative;
                .text-box {
                    width: 50%;
                    padding-bottom: 120px;
                    position: relative;
                    .circle {
                        width: 34px;
                        height: 34px;
                        border-radius: 300px;
                        background: #82b1e0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        span {
                            display: block;
                            width: 14px;
                            height: 14px;
                            border-radius: 300px;
                            background: $color-main;
                        }
                    }
                    .circle::after {
                        content: '';
                        display: block;
                        width: 130px;
                        height: 2px;
                        background: #c8c8c8;
                        position: absolute;
                    }
                    .year-box {
                        margin-bottom: 42px;
                        display: flex;
                        justify-content: flex-start;
                        span {
                            font-family: $font-en;
                            font-weight: 600;
                            font-size: 48px;
                            line-height: 1;
                            letter-spacing: -1px;
                            color: $color-black;
                            display: block;
                            border-top: 2px solid $color-main;
                            padding-top: 8px;
                        }
                    }
                    .year-list-box {
                        ul {
                            display: flex;
                            flex-direction: column;
                            li {
                                display: flex;
                                align-items: flex-start;
                                padding-left: 17px;
                                position: relative;
                                span {
                                    font-family: $font-kr;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 1.5;
                                    letter-spacing: -.8px;
                                    color: $color-black;
                                    word-break: keep-all;
                                }
                                span.bold {
                                    font-weight: 700;
                                }
                            }
                            li:not(:last-child) {
                                margin-bottom: 18px;
                            }
                            li::after {
                                content: '';
                                display: block;
                                width: 5px;
                                height: 5px;
                                border-radius: 300px;
                                background: #d7d7d7;
                                position: absolute;
                                top: 7px;
                                left: 0;
                            }
                        }
                    }
                }
            }
            .history-text-area.right {
                justify-content: flex-end;
                .text-box {
                    border-left: 1px solid #c8c8c8;
                    padding-left: 154px;
                    .circle {
                        top: -17px;
                        left: -17px;
                    }
                    .circle::after {
                        left: 38px;
                    }
                    .year-box {
                        justify-content: flex-start;
                    }
                    .year-list-box {
                        ul {
                            align-items: flex-start;
                        }
                    }
                }
            }
            .history-text-area.left {
                justify-content: flex-start;
                .text-box {
                    border-right: 1px solid #c8c8c8;
                    padding-right: 154px;
                    .circle {
                        top: -17px;
                        right: -17px;
                    }
                    .circle::after {
                        right: 38px;
                    }
                    .year-box {
                        justify-content: flex-end;
                    }
                    .year-list-box {
                        ul {
                            align-items: flex-end;
                        }
                    }
                }
            }
            .history-text-area.center {
                justify-content: center;
                .text-box {
                    .circle {
                        display: none;
                    }
                    .circle::after {
                        display: none;
                    }
                    .year-box {
                        justify-content: center;
                    }
                    .year-list-box {
                        ul {
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .licence-content-wrap {
        padding-top: 40px;
        .container {
            // border: 1px solid red;
            .licence-list-box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .licence-img-box {
                    width: calc(100% / 6 - 24px );
                    height: 320px;
                    margin: 0 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #c8c8c8;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

}

@media ( max-width: 1024px ) {
    #wrap {
        .subpage-visual-content-wrap.company {
            .container {
                .title-box {
                    h2.title {
                    }
                    span.comment {
                    }
                }
            }
        }
        .page-nav-content-wrap {
            .container {
                .btn-list-area {
                    .home-icon-box {
                        img {
                        }
                    }
                    a.category-btn-box {
                        span.name {
                        }
                        span.name.font-kr {
                        }
                        .hamburger-icon-box {
                            span {
                            }
                            span:not(:last-child) {
                            }
                        }
                    }
                }
            }
        }
    
        .history-content-wrap {
            .container {
                .section-title-box {
                    h2.title {
                        font-size: 42px;
                    }
                }
                .section-title-box::after {
                    height: 2px;
                }
    
                .history-text-area {
                    .text-box {
                        padding-bottom: 90px;
                        .circle {
                            width: 24px;
                            height: 24px;
                            
                            span {
                                width: 8px;
                                height: 8px;
                            }
                        }
                        .circle::after {
                            width: 73px;
                            height: 1px;
                        }
                        .year-box {
                            span {
                                font-size: 34px;
                            }
                        }
                        .year-list-box {
                            ul {
                                li {
                                    span {
                                        font-size: 16px;
                                    }
                                    span.bold {
                                    }
                                }
                                li:not(:last-child) {
                                    margin-bottom: 18px;
                                }
                                li::after {
                                }
                            }
                        }
                    }
                }
                .history-text-area.right {
                    .text-box {
                        padding-left: 90px;
                        .circle {
                            top: -14px;
                            left: -14px;
                        }
                        .circle::after {
                            left: calc(24px + 4px);
                        }
                        .year-box {
                        }
                        .year-list-box {
                            ul {
                            }
                        }
                    }
                }
                .history-text-area.left {
                    .text-box {
                        padding-right: 90px;
                        .circle {
                            top: -14px;
                            right: -14px;
                        }
                        .circle::after {
                            right: calc(24px + 4px);
                        }
                        .year-box {
                        }
                        .year-list-box {
                            ul {
                            }
                        }
                    }
                }
                .history-text-area.center {
                    .text-box {
                        .circle {
                        }
                        .circle::after {
                        }
                        .year-box {
                        }
                        .year-list-box {
                            ul {
                            }
                        }
                    }
                }
            }
        }
    
        .licence-content-wrap {
            .container {
                .licence-list-box {
                    .licence-img-box {
                        height: 190px;
                        img {
                        }
                    }
                }
            }
        }
    
    }
}

@media ( max-width: 450px ) {
    #wrap {
        .subpage-visual-content-wrap.company {
            .container {
                .title-box {
                    h2.title {
                    }
                    span.comment {
                    }
                }
            }
        }
        .page-nav-content-wrap {
            .container {
                .btn-list-area {
                    .home-icon-box {
                        img {
                        }
                    }
                    a.category-btn-box {
                        span.name {
                        }
                        span.name.font-kr {
                        }
                        .hamburger-icon-box {
                            span {
                            }
                            span:not(:last-child) {
                            }
                        }
                    }
                }
            }
        }
    
        .history-content-wrap {
            padding-top: 120px;
            .container {
                .section-title-box {
                    padding-bottom: 0px;
                    margin-bottom: 80px;
                    h2.title {
                        font-size: 24px;
                    }
                }
                .section-title-box::after {
                    width: 28px;
                    display: none;
                }
    
                .history-text-area {
                    .text-box {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .circle {
                            width: 18px;
                            height: 18px;
                            position: relative;
                            margin-bottom: 36px;
                            span {
                                width: 6px;
                                height: 6px;
                            }
                        }
                        .circle::after {
                            width: 8px;
                            bottom: -19px;
                        }
                        .year-box {
                            span {
                                border: none;
                                font-size: 24px;
                            }
                        }
                        .year-list-box {
                            ul {
                                li {
                                    span {
                                        font-size: 14px;
                                    }
                                    span.bold {
                                    }
                                }
                                li:not(:last-child) {
                                }
                                li::after {
                                }
                            }
                        }
                    }
                }
                .history-text-area.right {
                    .text-box {
                        padding-left: 0;
                        border: none;
                        .circle {
                            top: auto;
                            left: auto;
                        }
                        .circle::after {
                            left: auto;
                        }
                        .year-box {
                        }
                        .year-list-box {
                            ul {
                                align-items: center;
                            }
                        }
                    }
                }
                .history-text-area.left {
                    .text-box {
                        padding-right: 0;
                        border: none;
                        .circle {
                            top: auto;
                            right: auto;
                        }
                        .circle::after {
                            right: auto;
                        }
                        .year-box {
                        }
                        .year-list-box {
                            ul {
                                align-items: center;
                            }
                        }
                    }
                }
                .history-text-area.center {
                    .text-box {
                        .circle {
                            display: flex;
                        }
                        .circle::after {
                            display: block;
                        }
                        .year-box {
                        }
                        .year-list-box {
                            ul {
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    
        .licence-content-wrap {
            .container {
                .licence-list-box {
                    flex-wrap: wrap;
                    .licence-img-box {
                        width: calc(100% / 3 - 8px);
                        margin: 8px 4px;
                        img {
                        }
                    }
                }
            }
        }
    
    }
}