/* variable */
$color-black: #2a2a2a;
$color-main: #0050A0;
$color-gray: #ababab;
$font-kr: 'SUIT Variable', sans-serif;
$font-en: "Archivo", system-ui;

.section-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    span.sub-title {
        font-family: $font-en;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        color: $color-black;
        margin-bottom: 16px;
    }
    h2.title {
        font-family: $font-en;
        font-weight: 700;
        font-size: 62px;
        line-height: 1;
        letter-spacing: -2px;
        color: $color-black;
        margin-bottom: 42px;
        position: relative;
        display: flex;
        align-items: center;
    }
    h2.title::after {
        content: '';
        display: block;
        width: 45px;
        height: 6px;
        background: $color-main;
        rotate: 45deg;
        position: absolute;
        left: - calc(45px + 24px);
    }
    h2.title::before {
        content: '';
        display: block;
        width: 45px;
        height: 6px;
        background: $color-main;
        rotate: 45deg;
        position: absolute;
        right: - calc(45px + 24px);
    }
    p.para {
        font-family: $font-kr;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: -1px;
        color: $color-black;
        text-align: center;
        white-space: pre-line;
        word-break: keep-all;
    }
}

#wrap {
    .visual-content-wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../img/visual-back-img.png') no-repeat center center / cover;
        .container {
            // border: 1px solid red;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .visual-title-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                span.sub-title {
                    font-family: $font-en;
                    font-weight: 300;
                    font-size: 62px;
                    line-height: 1;
                    letter-spacing: -2px;
                    color: #fff;
                }
                h1.title {
                    font-family: $font-en;
                    font-weight: 400;
                    font-size: 180px;
                    line-height: 1;
                    letter-spacing: -6px;
                    color: #fff;
                    margin-bottom: 32px;
                }
                p {
                    font-family: $font-en;
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 1;
                    letter-spacing: -.8px;
                    color: #fff;
                }
            }
        }
    }

    .business-content-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 200px;
        padding-bottom: 200px;
        .container {
            // border: 1px solid red;
            .section-title-box {
                /* common */
            }

            .business-list-area {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .business-list-box {
                    width: calc(100% / 3 - 24px);
                    margin: 0 12px;
                    .business-thumb-box {
                        width: 100%;
                        height: 560px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        margin-bottom: 60px;
                        .thumb-img-box {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            scale: 1;
                            transition: scale 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .thumb-img-box::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            background: rgba(0, 0, 0, 0.4);
                            transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .title-box {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            bottom: 0;
                            transition: all 0.4s ease;
                            .icon-box {
                                width: 120px;
                                height: 120px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 42px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            span {
                                font-family: $font-en;
                                font-weight: 500;
                                font-size: 28px;
                                line-height: 1;
                                letter-spacing: -1px;
                                color: #fff;
                            }
                        }

                        .hover-text-box {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            bottom: 0;
                            padding: 40px 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            .desc-box {
                                width: 100%;
                                opacity: 0;
                                transform: translate(0px, 30px);
                                transition: all 0.4s ease;
                                p {
                                    font-family: $font-en;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 1.5;
                                    color: #fff;
                                    text-align: left;
                                }
                            }
                        }
                    }
                    .business-thumb-box:hover {
                        .thumb-img-box {
                            scale: .96;
                        }
                        .thumb-img-box::after {
                            opacity: 1;
                            transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
                        }
                        .title-box {
                            opacity: 0;
                            transform: translate(0px, 30px);
                            transition: all 0.4s ease;
                            .icon-box {
                                img {
                                }
                            }
                            span {
                            }
                        }
                        .hover-text-box {
                            .desc-box {
                                opacity: 1;
                                transform: translate(0px, 0px);
                                transition: all 0.4s ease;
                                p {
                                }
                            }
                        }
                    }

                    .aword-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        min-height: 130px;
                        .aword-logo-box {
                            width: auto;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 32px;
                            img {
                                height: 100%;
                            }
                        }
                        .aword-title-box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            span {
                                font-weight: 500;
                            }
                            span.title {
                                font-size: 28px;
                                line-height: 1;
                                letter-spacing: -.8px;
                                color: $color-black;
                                margin-bottom: 12px;
                            }
                            span.sub-title {
                                font-size: 18px;
                                line-height: 1;
                                letter-spacing: -.8px;
                                color: $color-gray;
                            }
                        }
                    }
                }

                .business-list-box:nth-child(2) {
                    .aword-box {
                        .aword-logo-box {
                            padding: 5px 0;
                            img {
                            }
                        }
                        .aword-title-box {
                            span {
                            }
                            span.title {
                                font-weight: 600;
                            }
                            span.sub-title {
                            }
                        }
                    }
                }
                .business-list-box:nth-child(3) {
                    .aword-box {
                        .aword-logo-box {
                            img {
                            }
                        }
                        .aword-title-box {
                            span {
                            }
                            span.title {
                                font-weight: 600;
                            }
                            span.sub-title {
                            }
                        }
                    }
                }
            }
        }
    }

    .about-content-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../img/about-back-img.jpg') no-repeat center bottom / cover;
        padding: 80px 0;
        .container {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .section-title-box {
                margin-bottom: 180px;
                span.sub-title {
                    color: #fff;
                }
                .logo-box {
                    width: auto;
                    height: 80px;
                    margin-bottom: 42px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                p.para {
                    color: #fff;
                }
            }

            .about-list-area {
                width: 100%;
                display: flex;
                .about-list-box {
                    width: calc(100% / 3 - 24px);
                    margin: 0 12px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 40px;
                    border-bottom: 1px solid rgba(255, 255, 255, .4);
                    span.list-sub-title {
                        display: block;
                        font-family: $font-kr;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1;
                        letter-spacing: -.8px;
                        color: #fff;
                        margin-bottom: 12px;
                    }
                    h3.list-title {
                        font-family: $font-en;
                        font-weight: 500;
                        font-size: 54px;
                        line-height: 1;
                        letter-spacing: -1px;
                        color: #fff;
                        margin-bottom: 50px;
                    }
                    span.comment {
                        font-family: $font-kr;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 1;
                        letter-spacing: -2px;
                        color: #fff;
                    }
                }
            }
        }
    }

    .partners-content-wrap {
        padding-top: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .container {
            .section-title-box {
                /* commons */
            }

            .partners-list-area {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                .partners-logo-box {
                    width: calc(100% / 6 - 24px);
                    margin: 16px 12px;
                    height: 70px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .game-content-wrap {
        width: 100%;
        overflow: hidden;
        padding-top: 200px;
        .container {
            // border: 1px solid red;

            .section-title-box {
                /* commons */
            }

            .game-slide-area {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .game-tab-menu-list {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 130px;
                    .tab-text-box {
                        width: calc(100% / 6 - 24px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span {
                                font-family: $font-en;
                                font-weight: 300;
                                font-size: 24px;
                                line-height: 1;
                                letter-spacing: -1px;
                                color: $color-gray;
                                transition: color .4s ease;
                            }
                        }
                        a:hover {
                            span {
                                color: $color-main;
                            }
                        }
                    }
                    .tab-text-box.active {
                        a {
                            span {
                                color: $color-main
                            }
                        }
                    }
                    .tab-text-box:not(:last-child)::after {
                        content: '';
                        display: block;
                        width: 28px;
                        height: 2px;
                        background: $color-gray;
                        position: absolute;
                        right: -28px;
                        opacity: .4;
                        rotate: -45deg;
                        
                    }
                }
                
                .game-content-box {
                    width: 100%;
                    margin-bottom: 32px;
                    .slide-content-box {
                        width: 100%;
                        display: none;
                        .tab-slider {
                            width: 100%;
                            overflow: visible;
                            .swiper-wrapper {
                                width: 100%;
                                .swiper-slide {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 830px;
                                    height: 460px;
                                    position: relative;
                                    .thumb-img-box {
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        position: relative;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    .thumb-img-box::after {
                                        content: '';
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        background: linear-gradient(rgba(0,0,0,0) 65%, rgba(0,0,0,1));
                                        position: absolute;
                                    }
                                    .title-box {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        align-items: flex-end;
                                        display: flex;
                                        align-items: flex-end;
                                        justify-content: center;
                                        padding: 40px 0;
                                        span {
                                            font-family: $font-kr;
                                            font-weight: 500;
                                            font-size: 24px;
                                            line-height: 1;
                                            letter-spacing: -.8px;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .slide-content-box.active {
                        display: flex;
                    }
                }

                .tab-nav-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .tab-nav-btn {
                        position: unset;
                        width: auto;
                        height: auto;
                        margin: 0;;
                        padding: 32px 54px;
                        border: 1px solid $color-black;
                        border-radius: 300px;
                        transition: all .4s ease;
                        span {
                            font-family: $font-en;
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 1;
                            color: $color-black;
                            transition: all .4s ease;
                        }
                    }
                    .tab-nav-btn:hover {
                        background: $color-black;
                        span {
                            color: #fff;
                        }
                    }
                    .tab-nav-btn:not(:last-child) {
                        margin-right: 14px;
                    }
                    .swiper-button-prev:after,
                    .swiper-button-next:after {
                        display: none;
                    }
                }
            }
        }
    }

    .people-content-wrap {
        padding-top: 200px;
        .container {
            // border: 1px solid red;
            .section-title-box {
                /* commons */
            }

            .people-list-area {
                display: flex;
                align-items: center;
                justify-content: center;
                .people-list-box {
                    width: calc(100% / 4 - 24px);
                    margin: 0 24px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 48px 0;
                    border: 1px solid $color-black;
                    .icon-box {
                        width: 80px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 42px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .title-box {
                        margin-bottom: 24px;
                        span {
                            font-family: $font-kr;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 1;
                            letter-spacing: -.8px;
                            color: $color-black;
                        }
                    }
                    .para-box {
                        p {
                            white-space: pre-line;
                            word-break: keep-all;
                            text-align: center;
                            min-height: 52px;
                            font-family: $font-kr;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 1.5;
                            letter-spacing: -.8px;
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }
}


@media ( max-width: 1024px ) {
    .section-title-box {
        span.sub-title {
            font-size: 16px;
            margin-bottom: 24px;
        }
        h2.title {
            font-size: 42px;
        }
        h2.title::after {
            width: 32px;
            height: 4px;
            left: - calc(32px + 14px);
        }
        h2.title::before {
            width: 32px;
            height: 4px;
            right: - calc(32px + 14px);
        }
        p.para {
            font-size: 18px;
            letter-spacing: -.8px;
        }
    }
    
    #wrap {
        .visual-content-wrap {
            .container {
                .visual-title-box {
                    span.sub-title {
                        font-size: 42px;
                        letter-spacing: -1px;
                    }
                    h1.title {
                        font-size: 90px;

                    }
                    p {
                        font-size: 24px;
                    }
                }
            }
        }
    
        .business-content-wrap {
            .container {
                .section-title-box {
                    /* common */
                }
    
                .business-list-area {
                    .business-list-box {
                        .business-thumb-box {
                            height: 460px;
                            margin-bottom: 42px;
                            .thumb-img-box {
                                img {
                                }
                            }
                            .thumb-img-box::after {
                            }
    
                            .title-box {
                                .icon-box {
                                    width: 90px;
                                    height: 90px;
                                    margin-bottom: 32px;
                                    img {
                                    }
                                }
                                span {
                                    font-size: 24px;
                                }
                            }
    
                            .hover-text-box {
                                .desc-box {
                                    p {
                                    }
                                }
                            }
                        }
                        .business-thumb-box:hover {
                            .thumb-img-box {
                            }
                            .thumb-img-box::after {
                            }
                            .title-box {
                                .icon-box {
                                    img {
                                    }
                                }
                                span {
                                }
                            }
                            .hover-text-box {
                                .desc-box {
                                    p {
                                    }
                                }
                            }
                        }
    
                        .aword-box {
                            .aword-logo-box {
                                img {
                                }
                            }
                            .aword-title-box {
                                span {
                                }
                                span.title {
                                    font-size: 20px;
                                }
                                span.sub-title {
                                }
                            }
                        }
                    }
    
                    .business-list-box:nth-child(2) {
                        .aword-box {
                            .aword-logo-box {
                                img {
                                }
                            }
                            .aword-title-box {
                                span {
                                }
                                span.title {
                                }
                                span.sub-title {
                                }
                            }
                        }
                    }
                    .business-list-box:nth-child(3) {
                        .aword-box {
                            .aword-logo-box {
                                img {
                                }
                            }
                            .aword-title-box {
                                span {
                                }
                                span.title {
                                }
                                span.sub-title {
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .about-content-wrap {
            .container {
                .section-title-box {
                    margin-bottom: 120px;
                    span.sub-title {
                    }
                    .logo-box {
                        img {
                        }
                    }
                    p.para {
                    }
                }
    
                .about-list-area {
                    .about-list-box {
                        padding-bottom: 28px;
                        span.list-sub-title {
                        }
                        h3.list-title {
                            font-size: 34px;
                            margin-bottom: 42px;
                        }
                        span.comment {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    
        .partners-content-wrap {
            .container {
                .section-title-box {
                    /* commons */
                }
    
                .partners-list-area {
                    .partners-logo-box {
                        height: 54px;
                        img {
                        }
                    }
                }
            }
        }
    
        .game-content-wrap {
            .container {
                .section-title-box {
                    /* commons */
                }
    
                .game-slide-area {
                    .game-tab-menu-list {
                        margin-bottom: 60px;
                        .tab-text-box {
                            a {
                                span {
                                    font-size: 20px;
                                }
                            }
                            a:hover {
                                span {
                                }
                            }
                        }
                        .tab-text-box.active {
                            a {
                                span {
                                }
                            }
                        }
                        .tab-text-box:not(:last-child)::after {
                            
                        }
                    }
                    
                    .game-content-box {
                        .slide-content-box {
                            .tab-slider {
                                .swiper-wrapper {
                                    .swiper-slide {
                                        width: 70%;
                                        height: 420px;
                                        .thumb-img-box {
                                            img {
                                            }
                                        }
                                        .thumb-img-box::after {
                                        }
                                        .title-box {
                                            span {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .slide-content-box.active {
                        }
                    }
    
                    .tab-nav-box {
                        .tab-nav-btn {
                            padding: 28px 40px;
                            span {
                            }
                        }
                        .tab-nav-btn:hover {
                            span {
                            }
                        }
                        .tab-nav-btn:not(:last-child) {
                            margin-right: 8px;
                        }
                        .swiper-button-prev:after,
                        .swiper-button-next:after {
                        }
                    }
                }
            }
        }
    
        .people-content-wrap {
            .container {
                .section-title-box {
                    /* commons */
                }
    
                .people-list-area {
                    .people-list-box {
                        width: calc(100% / 4 - 16px);
                        margin: 0 8px;
                        padding: 48px 16px;
                        .icon-box {
                            width: 60px;
                            height: 60px;
                            img {
                            }
                        }
                        .title-box {
                            span {
                            }
                        }
                        .para-box {
                            p {
                                white-space: normal;
                                min-height: 81px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media ( max-width: 450px ) {
    .section-title-box {
        margin-bottom: 60px;
        span.sub-title {
        }
        h2.title {
            font-size: 24px;
            letter-spacing: 0px;
            text-align: center;
            width: 60%;
            display: flex;
            justify-content: center;
            line-height: 1.4;
            margin-bottom: 24px;
        }
        h2.title::after {
            width: 24px;
            height: 3px;
            left: - calc(24px + 14px);
        }
        h2.title::before {
            width: 24px;
            height: 3px;
            right: - calc(24px + 14px);
        }
        p.para {
            font-size: 16px;
            white-space: normal;
        }
    }
    
    #wrap {
        .visual-content-wrap {
            height: 70vh;
            .container {
                .visual-title-box {
                    span.sub-title {
                        font-size: 28px;
                        letter-spacing: 0px;
                    }
                    h1.title {
                        font-size: 48px;
                        letter-spacing: -2px;
                        margin-bottom: 14px;
                    }
                    p {
                        font-size: 16px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    
        .business-content-wrap {
            padding-top: 120px;
            padding-bottom: 120px;
            .container {
                .section-title-box {
                    /* common */
                }
    
                .business-list-area {
                    flex-direction: column;
                    .business-list-box {
                        width: 100%;
                        margin: 0;
                        .business-thumb-box {
                            height: 240px;
                            margin-bottom: 28px;
                            .thumb-img-box {
                                img {
                                }
                            }
                            .thumb-img-box::after {
                            }
    
                            .title-box {
                                .icon-box {
                                    width: 60px;
                                    height: 60px;
                                    margin-bottom: 18px;
                                    img {
                                    }
                                }
                                span {
                                    font-size: 20px;
                                }
                            }
    
                            .hover-text-box {
                                .desc-box {
                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .business-thumb-box:hover {
                            .thumb-img-box {
                            }
                            .thumb-img-box::after {
                            }
                            .title-box {
                                .icon-box {
                                    img {
                                    }
                                }
                                span {
                                }
                            }
                            .hover-text-box {
                                .desc-box {
                                    p {
                                    }
                                }
                            }
                        }
    
                        .aword-box {
                            min-height: auto;
                            .aword-logo-box {
                                height: 32px;
                                margin-bottom: 18px;
                                img {
                                }
                            }
                            .aword-title-box {
                                span {
                                }
                                span.title {
                                    font-size: 18px;
                                }
                                span.sub-title {
                                    font-size: 14px;
                                    letter-spacing: 0;
                                }
                            }
                        }
                    }
    
                    .business-list-box:nth-child(2) {
                        .aword-box {
                            .aword-logo-box {
                                img {
                                }
                            }
                            .aword-title-box {
                                span {
                                }
                                span.title {
                                }
                                span.sub-title {
                                }
                            }
                        }
                    }
                    .business-list-box:nth-child(3) {
                        .aword-box {
                            .aword-logo-box {
                                img {
                                }
                            }
                            .aword-title-box {
                                span {
                                }
                                span.title {
                                }
                                span.sub-title {
                                }
                            }
                        }
                    }

                    .business-list-box:not(:last-child) {
                        margin-bottom: 42px;
                    }
                }
            }
        }
    
        .about-content-wrap {
            .container {
                .section-title-box {
                    margin-bottom: 72px;
                    span.sub-title {
                    }
                    .logo-box {
                        height: 42px;
                        margin-bottom: 18px;
                        img {
                        }
                    }
                    p.para {
                        width: 80%;
                    }
                }
    
                .about-list-area {
                    flex-direction: column;
                    align-items: center;
                    .about-list-box {
                        width: 100%;
                        margin: 0;
                        clip-path: inset(0 40px 0 40px);
                        span.list-sub-title {
                            font-size: 14px;
                            margin-bottom: 24px;
                        }
                        h3.list-title {
                            font-size: 34px;
                            letter-spacing: 0px;
                            margin-bottom: 14px;
                        }
                        span.comment {
                            font-size: 18px;
                            letter-spacing: -.8px;
                        }
                    }
                    .about-list-box:not(:last-child) {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    
        .partners-content-wrap {
            padding-top: 120px;
            .container {
                .section-title-box {
                    /* commons */
                }
    
                .partners-list-area {
                    .partners-logo-box {
                        width: calc(100% / 3 - 16px);
                        margin: 14px 8px;
                        height: 42px;
                        img {
                        }
                    }
                }
            }
        }
    
        .game-content-wrap {
            padding-top: 120px;
            .container {
                .section-title-box {
                    /* commons */
                }
    
                .game-slide-area {
                    .game-tab-menu-list {
                        margin-bottom: 42px;
                        .tab-text-box {
                            width: calc(100% / 6 - 8px);
                            a {
                                span {
                                    font-size: 16px;
                                    letter-spacing: 0;
                                }
                            }
                            a:hover {
                                span {
                                }
                            }
                        }
                        .tab-text-box.active {
                            a {
                                span {
                                }
                            }
                        }
                        .tab-text-box:not(:last-child)::after {
                            width: 14px;
                            height: 1px;
                            display: none;
                        }
                    }
                    
                    .game-content-box {
                        .slide-content-box {
                            .tab-slider {
                                .swiper-wrapper {
                                    .swiper-slide {
                                        height: 280px;
                                        .thumb-img-box {
                                            img {
                                            }
                                        }
                                        .thumb-img-box::after {
                                        }
                                        .title-box {
                                            padding: 20px 0;
                                            span {
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .slide-content-box.active {
                        }
                    }
    
                    .tab-nav-box {
                        .tab-nav-btn {
                            padding: 20px 30px;
                            span {
                                font-size: 14px;
                            }
                        }
                        .tab-nav-btn:hover {
                            span {
                            }
                        }
                        .tab-nav-btn:not(:last-child) {
                        }
                        .swiper-button-prev:after,
                        .swiper-button-next:after {
                        }
                    }
                }
            }
        }
    
        .people-content-wrap {
            .container {
                .section-title-box {
                    /* commons */
                }
    
                .people-list-area {
                    flex-wrap: wrap;
                    .people-list-box {
                        width: calc(100% / 2 - 14px);
                        margin: 9px 7px;
                        padding: 24px 16px;
                        .icon-box {
                            width: 32px;
                            height: 32px;
                            margin-bottom: 24px;
                            img {
                            }
                        }
                        .title-box {
                            margin-bottom: 16px;
                            span {
                                font-size: 18px;
                            }
                        }
                        .para-box {
                            p {
                                font-size: 14px;
                                min-height: 84px;
                            }
                        }
                    }
                }
            }
        }
    }
}