/* variable */
$color-black: #2a2a2a;
$color-main: #0050A0;
$color-gray: #ababab;
$font-kr: 'SUIT Variable', sans-serif;
$font-en: "Archivo", system-ui;

/* business common css */
.section-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    span.sub-title {
        font-family: $font-en;
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
        color: $color-black;
        margin-bottom: 16px;
    }
    h2.title {
        font-family: $font-en;
        font-weight: 700;
        font-size: 62px;
        line-height: 1;
        letter-spacing: -2px;
        color: $color-black;
        margin-bottom: 42px;
        position: relative;
        display: flex;
        align-items: center;
    }
    h2.title::after {
        content: '';
        display: block;
        width: 45px;
        height: 6px;
        background: $color-main;
        rotate: 45deg;
        position: absolute;
        left: - calc(45px + 24px);
    }
    h2.title::before {
        content: '';
        display: block;
        width: 45px;
        height: 6px;
        background: $color-main;
        rotate: 45deg;
        position: absolute;
        right: - calc(45px + 24px);
    }
    p.para {
        font-family: $font-kr;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: -1px;
        color: $color-black;
        text-align: center;
    }
}



#wrap {
    .project-content-wrap {
        padding-top: 200px;
        .container {
            .section-title-box {
                /* common css */
            }

            .project-list-area {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .list-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 50px 0;
                    border-top: 1px solid rgba(42, 42, 42, .8);
                    .project-text-area {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .title-box {
                            margin-bottom: 12px;
                            h3.title {
                                font-family: $font-kr;
                                font-weight: 700;
                                font-size: 42px;
                                line-height: 1;
                                letter-spacing: -2px;
                                color: $color-black;
                                position: relative;
                                display: flex;
                            }
                            h3.title::after {
                                content: '';
                                display: block;
                                width: 0%;
                                height: 3px;
                                background: $color-main;
                                position: absolute;
                                left: 0;
                                bottom: -6px;
                                transition: width .4s ease;
                            }
                        }

                        .en-title-box {
                            margin-bottom: 24px;
                            span {
                                font-family: $font-en;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 1;
                                letter-spacing: 0;
                                color: $color-black;
                            }
                        }

                        .project-genre-box {
                            margin-bottom: 140px;
                            ul {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                li {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: relative;
                                    padding: 0 20px;
                                    span {
                                        font-size: 16px;
                                        line-height: 1;
                                        color: $color-black;
                                    }
                                    span.kr {
                                        font-family: $font-kr;
                                        font-weight: 500;
                                        letter-spacing: -.8px;
                                    }
                                    span.en {
                                        font-family: $font-en;
                                        font-weight: 400;
                                    }
                                    span:not(:last-child) {
                                        margin-right: 14px;
                                    }
                                }
                                li:first-child {
                                    padding-left: 0;
                                }
                                li:not(:last-child) {
                                    
                                }
                                li:not(:last-child)::after {
                                    content: '';
                                    display: block;
                                    width: 1px;
                                    height: 80%;
                                    background: $color-black;
                                    opacity: .2;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                        }

                        .project-link-box {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            .link-icon-box {
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 14px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            ul.link-text-box {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                li {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: relative;
                                    padding: 0 20px;
                                    a {
                                        display: flex;
                                        span {
                                            font-family: $font-en;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 1;
                                            letter-spacing: 0;
                                            color: $color-black;
                                        }
                                    }
                                }
                                li:first-child {
                                    padding-left: 0;
                                }
                                li:not(:last-child) {
                                    
                                }
                                li:not(:last-child)::after {
                                    content: '';
                                    display: block;
                                    width: 1px;
                                    height: 80%;
                                    background: $color-black;
                                    opacity: .2;
                                    position: absolute;
                                    right: 0;
                                }
                            }
                        }
                    }

                    .thumb-img-box {
                        width: 586px;
                        height: 328px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: scale 1.2s ease;
                        }
                    }
                }
                .list-box:hover {
                    .project-text-area {
                        .title-box {
                            h3.title::after {
                                width: 100%;
                            }
                        }
                    }
                    .thumb-img-box {
                        img {
                            scale: 1.06;
                        }
                    }
                }
                .list-box:first-child {
                    // border-top: 1px solid rgba(42, 42, 42, .8);
                }
                .list-box:last-child {
                    // border-bottom: none;
                }
            }
        }
    }
}

@media ( max-width: 1024px ) {
    /* business common css */
    .section-title-box {
        span.sub-title {
            font-size: 16px;
            margin-bottom: 24px;
        }
        h2.title {
            font-size: 42px;
        }
        h2.title::after {
            width: 32px;
            height: 4px;
            left: -46px;
        }
        h2.title::before {
            width: 32px;
            height: 4px;
            right: -46px;
        }
        p.para {
            font-size: 18px;
            letter-spacing: -0.8px;
        }
    }

    #wrap {
        .project-content-wrap {
            .container {
                .section-title-box {
                    /* common css */
                }

                .project-list-area {
                    .list-box {
                        padding: 30px 0;
                        .project-text-area {
                            .title-box {
                                h3.title {
                                    font-size: 34px;
                                }
                                h3.title::after {
                                }
                            }

                            .en-title-box {
                                span {
                                    font-size: 16px;
                                }
                            }

                            .project-genre-box {
                                margin-bottom: 64px;
                                ul {
                                    li {
                                        span {
                                            font-size: 14px;
                                        }
                                        span.kr {
                                        }
                                        span.en {
                                        }
                                        span:not(:last-child) {
                                        }
                                    }
                                    li:first-child {
                                    }
                                    li:not(:last-child) {
                                        
                                    }
                                    li:not(:last-child)::after {
                                    }
                                }
                            }

                            .project-link-box {
                                .link-icon-box {
                                    width: 18px;
                                    height: 18px;
                                    img {
                                    }
                                }
                                ul.link-text-box {
                                    li {
                                        a {
                                            span {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                    li:first-child {
                                    }
                                    li:not(:last-child) {
                                        
                                    }
                                    li:not(:last-child)::after {
                                    }
                                }
                            }
                        }

                        .thumb-img-box {
                            width: 390px;
                            height: 220px;
                            img {
                            }
                        }
                    }
                    .list-box:hover {
                        .project-text-area {
                            .title-box {
                                h3.title::after {
                                }
                            }
                        }
                        .thumb-img-box {
                            img {
                            }
                        }
                    }
                    .list-box:first-child {
                    }
                }
            }
        }
    }
}

@media ( max-width: 450px ) {
    /* business common css */
    .section-title-box {
        span.sub-title {
            font-size: 16px;
            margin-bottom: 24px;
        }
        h2.title {
            font-size: 24px;
            letter-spacing: 0px;
            text-align: center;
            width: 60%;
            display: flex;
            justify-content: center;
            line-height: 1.4;
            margin-bottom: 24px;
        }
        h2.title::after {
            width: 24px;
            height: 3px;
            left: -38px;
        }
        h2.title::before {
            width: 24px;
            height: 3px;
            right: -38px;
        }
        p.para {
            font-size: 16px;
        }
    }

    #wrap {
        .project-content-wrap {
            padding-top: 120px;
            .container {
                .section-title-box {
                    /* common css */
                }

                .project-list-area {
                    .list-box {
                        flex-direction: column;
                        padding: 0;
                        border: none;
                        .project-text-area {
                            order: 2;
                            width: 100%;
                            padding: 0 14px;
                            .title-box {
                                margin-bottom: 6px;
                                h3.title {
                                    font-size: 28px;
                                }
                                h3.title::after {
                                    display: none;
                                }
                            }

                            .en-title-box {
                                margin-bottom: 18px;
                                span {
                                    font-weight: 400;
                                }
                            }

                            .project-genre-box {
                                margin-bottom: 48px;
                                ul {
                                    flex-wrap: wrap;
                                    li {
                                        span {
                                            // line-height: 1.5;
                                            word-break: keep-all;
                                        }
                                        span.kr {
                                        }
                                        span.en {
                                        }
                                        span:not(:last-child) {
                                        }
                                    }
                                    li:first-child {
                                    }
                                    li:not(:last-child) {
                                        
                                    }
                                    li:not(:last-child)::after {
                                    }
                                }
                            }

                            .project-link-box {
                                .link-icon-box {
                                    img {
                                    }
                                }
                                ul.link-text-box {
                                    li {
                                        a {
                                            span {
                                            }
                                        }
                                    }
                                    li:first-child {
                                    }
                                    li:not(:last-child) {
                                        
                                    }
                                    li:not(:last-child)::after {
                                    }
                                }
                            }
                        }

                        .thumb-img-box {
                            width: 100%;
                            margin-bottom: 24px;
                            img {
                            }
                        }
                    }
                    .list-box:hover {
                        .project-text-area {
                            .title-box {
                                h3.title::after {
                                }
                            }
                        }
                        .thumb-img-box {
                            img {
                            }
                        }
                    }
                    .list-box:first-child {
                    }
                    
                    .list-box:not(:last-child) {
                        margin-bottom: 80px;
                    }
                }
            }
        }
    }
}