/* variable */
/* company: funwave common css */
.section-title-box {
  margin-bottom: 120px;
}
.section-title-box h2.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #2a2a2a;
  text-align: center;
}
.section-title-box h2.title span.color {
  color: #0050A0;
}

#wrap .business-about-content-wrap {
  padding-top: 200px;
  padding-bottom: 200px;
}
#wrap .business-about-content-wrap .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap .business-about-content-wrap .container .business-list-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box {
  width: calc(16.6666666667% - 24px);
  height: 460px;
  margin: 0 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .thumb-img-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .thumb-img-box img {
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .thumb-img-box::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: #0050A0;
  position: absolute;
  bottom: 0;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .title-box {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .title-box .icon-box {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .title-box .icon-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .title-box span.title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-top: 14px;
  border-top: 2px solid #ababab;
  font-family: "Archivo", system-ui;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  color: #fff;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box .title-box span.title img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box:nth-child(1)::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  rotate: 45deg;
  position: absolute;
  left: -50px;
  top: -50px;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box:nth-child(6)::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  rotate: 45deg;
  position: absolute;
  right: -50px;
  bottom: -50px;
}
#wrap .business-about-content-wrap .container .business-list-box .business-item-box:hover .thumb-img-box img {
  scale: 1.06;
}
#wrap .business-about-content-wrap .container .para-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap .business-about-content-wrap .container .para-box p.title-para {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1px;
}
#wrap .business-about-content-wrap .container .para-box p {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  text-align: center;
}
#wrap .business-about-content-wrap .container .para-box p:not(:last-child) {
  margin-bottom: 42px;
}
#wrap .brand-values-content-wrap {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f8f8f8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .brand-values-content-wrap .container .section-title-box {
  /* commons css */
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box .title-box {
  width: 220px;
  margin-right: 24px;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box .title-box span.title {
  font-family: "Archivo", system-ui;
  font-weight: 600;
  font-size: 48px;
  height: 1;
  letter-spacing: -1px;
  color: #0050A0;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box .content-box {
  width: 952px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box .content-box .text-box {
  width: 100%;
  background: #fff;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 24px;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box .content-box .text-box span.content {
  font-family: "Archivo", system-ui;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
  margin-bottom: 12px;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box .content-box .text-box span.sub-content {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box:not(:last-child) {
  margin-bottom: 34px;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box.strategy .content-box {
  justify-content: space-between;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box.strategy .content-box .text-box {
  width: calc(25% - 12px);
  align-items: flex-start;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box.strategy .content-box .text-box span.init {
  font-family: "Archivo", system-ui;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #bcbcbc;
  margin-bottom: 30px;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box.strategy .content-box .text-box span.content {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 600;
  margin-bottom: 74px;
}
#wrap .brand-values-content-wrap .container .values-list-area .value-item-box.strategy .content-box .text-box span.sub-content {
  font-family: "Archivo", system-ui;
  font-weight: 500;
  line-height: 1.2;
}
#wrap .brand-values-content-wrap::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  rotate: 45deg;
  position: absolute;
  top: -40px;
}
#wrap .brand-values-content-wrap::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background: #f8f8f8;
  rotate: 45deg;
  position: absolute;
  bottom: -40px;
}
#wrap .brand-character-content-wrap {
  padding-top: 200px;
}
#wrap .brand-character-content-wrap .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap .brand-character-content-wrap .container .section-title-box {
  /* common css */
}
#wrap .brand-character-content-wrap .container .content-list-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap .brand-character-content-wrap .container .content-list-area .item-box {
  position: relative;
  width: calc(33.3333333333% - 24px);
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}
#wrap .brand-character-content-wrap .container .content-list-area .item-box .thumb-img-box {
  width: 100%;
  height: 100%;
}
#wrap .brand-character-content-wrap .container .content-list-area .item-box .thumb-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.4s ease;
}
#wrap .brand-character-content-wrap .container .content-list-area .item-box:hover .thumb-img-box img {
  scale: 1.04;
}
#wrap .brand-character-content-wrap .container .content-list-area .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0;
}
#wrap .brand-character-content-wrap .container .content-list-area .text-box span.sub-title {
  font-family: "Archivo", system-ui;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #bcbcbc;
  margin-bottom: 24px;
}
#wrap .brand-character-content-wrap .container .content-list-area .text-box span.title {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -1px;
  color: #2a2a2a;
}
#wrap .location-content-wrap {
  padding-top: 200px;
}
#wrap .location-content-wrap .container .section-title-box {
  /* common css */
}
#wrap .location-content-wrap .container .map-list-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap .location-content-wrap .container .map-list-area .map-item-box {
  width: calc(50% - 12px);
}
#wrap .location-content-wrap .container .map-list-area .map-item-box .map-box {
  width: 100%;
  height: 380px;
  margin-bottom: 28px;
}
#wrap .location-content-wrap .container .map-list-area .map-item-box .map-box .root_daum_roughmap {
  width: 100%;
  height: 100%;
}
#wrap .location-content-wrap .container .map-list-area .map-item-box .map-box .root_daum_roughmap .wrap_map {
  width: 100%;
  height: 100%;
}
#wrap .location-content-wrap .container .map-list-area .map-item-box .text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrap .location-content-wrap .container .map-list-area .map-item-box .text-box span.location-name {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -1.2px;
  color: #2a2a2a;
  margin-bottom: 18px;
}
#wrap .location-content-wrap .container .map-list-area .map-item-box .text-box span.location-desc {
  font-family: "SUIT Variable", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #2a2a2a;
}